<?xml version="1.0" encoding="UTF-8"?>

<screen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://moqui.org/xsd/xml-screen-2.0.xsd"
        default-menu-title="Systems" default-menu-index="2">

    <subscreens default-item="CreateAndFindSystem"/>
    <widgets>
        <!--<label text="this is Systems"/>-->
        <!--<subscreens-active/>-->
        <subscreens-panel id="project-menu" type="tab"/>
    </widgets>
</screen>
